[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=StultitiaSimplex
Exec=harbour-stultitiasimplex
Icon=harbour-stultitiasimplex
X-Nemo-Application-Type=silica-qt5
