[Desktop Entry]
Encoding=UTF-8
Name=StultitiaSimplex
GenericName=StultitiaSimplex
Comment=StultitiaSimplex is a simple sound board application.
Exec=invoker --single-instance --splash /opt/stultitiasimplex/splash.png --type=d /opt/stultitiasimplex/bin/StultitiaSimplex
Icon=/usr/share/icons/hicolor/64x64/apps/stultitiasimplex.png
Terminal=false
Type=Application
Categories=AudioVideo;

